{% extends 'users/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center m-auto">
                <h1>Plan your adventure,</h1>
                <h1>Plan your camp</h1>
                <h5>Make camping experiences better. Take a chance to get closer to nature and get away from the concrete jungle of a city</h5>
            </div>
            <div class="col-sm-6">
                <img src="{% static 'images/camp.jpg' %}" alt="" id="home_camp_img">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="landing-p">Choose from over 100 trusted campsites</p>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go to campsite</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go to campsite</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go to campsite</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go to campsite</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}