body{
    margin: 0;
    padding: 0;
    /* position: relative; */
}

.main-container{
    margin-top: 16px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
  }

.footer{
    width: 100%;
    background-color: #343a40;
    margin-top: 16px;
}

.footer p{
    color: #fff;
    display: inline;
}

#logo{
    width: 40px;
    height: 40px;
}

#home_camp_img{
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
}

.landing-p{
    font-size: 30px;
    font-weight: lighter;
}

.divider-left{
   border-right: 0.1px solid #EEE;
}

.divider-right{
    border-left: 0.1px solid #EEE;
}

#about-title{
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 40px;
}

#about-text{
    font-family: 'DM Sans';
}

#landing-title{
    font-size: 50px;
    font-family: 'Open Sans';
}

.reset-img-done{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;

}